@import "variables.scss";
@import "library.scss";

.App {
  body, nav, footer, h1, h2, h3, h4, h5 {
    font-family: $base-font !important;
  }
  .mdl-layout__content {
    background: $background-color;
  }
  .page-content {
    text-align: center;
  }
  header {
    background: $nav-color;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
    color: #FFFFFF;
    nav{
      background: $nav-color;
    }
    .mdl-layout-title img {
      max-height: 45px;
    }
    .mdl-navigation__link {
      color: white;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: underline $orange;
    }
  }

  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Song list for album */
#song-list{
  width: 100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
