@import "variables.scss";
@import "library.scss";
@import "album.scss";
@import "player-bar.scss";

.App {
  body, nav, footer, h1, h2, h3, h4, h5 {
    font-family: $base-font !important;
  }
  .mdl-layout__content {
     background: $background-color;
    // background: url(/assets/images/background2.jpg) center / cover;
    // background-repeat: no-repeat;
    // background-position: center;
  }
  .hero-title {
    color: white;
    font-weight: 200; 
  }
  .page-content {
    text-align: center;
  }
  header {
    background: $nav-color;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
    color: #FFFFFF;
    nav{
      background: $nav-color;
    }
    .mdl-layout-title img {
      max-height: 45px;
    }
    .mdl-navigation__link {
      color: white;
      line-height: 30px;
      text-transform: uppercase;
      text-decoration: underline $orange;
    }
  }

  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Song list for album */
#song-list{
  width: 100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.selling-points {
    img{
      height: auto;
      max-height: 200px;
    }
    p {
      font-size: 14px
    }
    h2 {
      font-size: 20px;
      text-align: left;
    }
    .demo-card-square.mdl-card {
      // width: 320px;
      min-height: 350px;
      border-radius: 4px;
    }
    .mdl-card__actions {
      background: $pink;
    }
    .mdl-card__supporting-text {
      min-height: 40px;
      text-align: left;
      justify-content: center;
      vertical-align: middle !important;
      // background: $lightGray;
      width: 100%;
      color: black;
    }
    .demo-card-square > .mdl-card__title {
      color: #fff;
    }
    .demo-card-square{
      margin: 10px;
    }
    #card1 {
      background:
        url('/assets/images/background1.jpg') center / cover no-repeat ;
    }
    #card2 {
      background:
        url('/assets/images/background2.jpg') center / cover no-repeat ;
    }
    #card3 {
      background:
        url('/assets/images/mobile.jpg') center / cover no-repeat ;
    }
}
