// colors
$nav-color: #514E64;
$orange: #E3746B;
$pink: #ee3b77;
$background-color: #514E64;
$lightGray: #B5ADB6;
// font
// $base-font: 'Nunito', sans-serif;
$base-font: 'Barlow', sans-serif;


$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$mobile: "(max-width: 600)";

.mdl-slider__background-lower {
  background: $background-color;
}
.mdl-slider__background-upper {
  background: white;
}
.mdl-slider.is-upgraded {
  color: $background-color;
}

.mdl-grid {
    justify-content: center;
}
